/* https://www.youtube.com/watch?v=Q_jJzUiG3HY 
https://www.youtube.com/watch?v=SBq-kXXn1PQ
https://www.youtube.com/watch?v=yU0mpEpBaGM*/
:root{
    --raisin-black: #232228ff;
    --lavender-web: #dcd3f0ff;
    --wisteria: rgb(188, 139, 216);
    --phlox: #d752feff;
    --amethyst: #a461edff;
}

.divSteven{
    background-color: var(--amethyst);
}

.imgSteven{
    background-image: url('../Images/ametista.png');
}

.fraseLogin{
    color: var(--lavender-web);
}

.divLogin{
    background-color: var(--lavender-web);
}

.containerLogin{
    border: solid 3px var(--amethyst);
}

.login{
    /* Para usar linear-gradient no texto deve-se usar o código a seguir: */
    background: linear-gradient(to right, var(--amethyst), var(--phlox));
}

.inputLogin{
    background-color: var(--lavender-web);
    border: 3px solid var(--phlox);
}

.button{
    background-color: var(--wisteria);
    border: 3px solid var(--amethyst);
}

.button:hover{
    background-color: var(--amethyst);
}

/* ↓ menu ↓ */

#ametista{
    width: 50px;
    height: 50px;
}