:root{
    --principal-red: #B43F4A;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.divSteven{
    width: 50%;
    height: 100vh;
    background-color: var(--principal-red);
}

.containerEsquerdo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star{
    margin: 60px;
}

.fraseLogin{
    margin: 0;
    font-size: 4rem;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #FAF4CD;
}

.divLogin{
    width: 50%;
    height: 100vh;
    background-color: #FEF4AC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogin{
    width: 60%;
    height: 80%;
    border: solid 3px var(--principal-red);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login{
    margin: 0;
    margin-top: 40px;
    font-size: 4rem;
    font-weight: 500;
    /* Para usar linear-gradient no texto deve-se usar o código a seguir: */
    background: linear-gradient(to right, var(--principal-red), #F5969F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputLogin{
    width: 60%;
    height: 50px;
    background-color: #fce72d2a;
    border: 3px solid #FCE72D;
    border-radius: 12px;
}

::placeholder{
    padding: 15px;
}

.containerButtons{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button{
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #DB6873;
    border: 3px solid var(--principal-red);
    border-radius: 25px;
}

.button:hover{
    background-color: var(--principal-red);
}