:root {
  --oxford-blue: #010125ff;
  --madder: #960026ff;
  --chocolate-cosmos: #40041aff;
  --hunyadi-yellow: #fabf6bff;
  --federal-blue: rgb(24, 25, 116);
}

* {
  transition: all 0.4s ease-out;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.divSteven {
  width: 50%;
  height: 100vh;
  background-color: var(--madder);
}

.imgSteven {
  width: 100%;
  height: 50%;
  background-image: url("../Images/garnet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.containerEsquerdo {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star {
  margin-top: 2%;
  width: 110px;
  height: 110px;
  position: absolute;
  background-image: url("../Images/garnetGem.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.divFraseLogin {
  margin-top: 25%;
}

.fraseLogin {
  margin: 0;
  font-size: 4rem;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: var(--hunyadi-yellow);
}

.divLogin {
  width: 50%;
  height: 100vh;
  background-color: var(--federal-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogin {
  width: 60%;
  height: 80%;
  border: solid 3px var(--hunyadi-yellow);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login {
  margin: 0;
  margin-top: 40px;
  font-size: 4rem;
  font-weight: 500;
  /* Para usar linear-gradient no texto deve-se usar o código a seguir: */
  background: linear-gradient(to right, var(--madder), var(--hunyadi-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputLogin {
  width: 60%;
  height: 50px;
  background-color: var(--madder);
  border: 3px solid var(--chocolate-cosmos);
  border-radius: 12px;
  outline: none;
}

::placeholder {
  padding: 15px;
  color: var(--hunyadi-yellow);
}

.containerButtons {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  background-color: var(--federal-blue);
  border: 3px solid var(--oxford-blue);
  border-radius: 25px;
  color: var(--hunyadi-yellow);
}

.button:hover {
  background-color: var(--oxford-blue);
}
