.containerButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backLogin{
    margin-bottom: 20px;
    font-size: 20px;
    color: #9c1e2b;
    font-weight: 700;
}

#backLogin:hover{
    color: #B43F4A;
    font-weight: 700;
    text-decoration: underline;
}