:root{
    --delft-blue: #262a65ff;
    --true-blue: #306ab3ff;
    --polynesian-blue: rgb(105, 143, 206);
    --vivid-sky-blue: #4bc8f2ff;
    --non-photo-blue: #afe0eeff;
}

body{
    background-color: var(--non-photo-blue);
}

.headerMenu{
    background-color: var(--true-blue);
    box-shadow: 0 5px 10px var(--delft-blue);
}

.logoCharacter{
    background-image: url("../../Images/lapisFace.png");
}

.buttonNav{
    border: 2px solid var(--delft-blue);
    background-color: var(--polynesian-blue);
    color: var(--delft-blue);
}

.buttonNav:hover{
    background-color: var(--vivid-sky-blue);
}

.content{
    background-color: var(--vivid-sky-blue);
}

footer{
    background-color: var(--true-blue);
}